* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import '_vari.scss';
body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: $text-color;
}



.container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
.title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}
.subtitle {
    font-size: 20px;
    line-height: 25px;
}
.text {
    font-size: 14px;
    line-height: 18px;
}
.yellow__divider {
    height: 5px;
    width: 165px;
    background: $main-color;
    margin-bottom: 15px;
}

@import '_header';
@import '_promo';
@import '_work';
@import '_about';
@import '_train';
@import '_individ';
@import '_terapy';
@import '_methods';
@import '_rew';
@import 'sert';
@import '_cont';
@import '_footer';

@import '_media';